form {
    margin-top: 32px;
    text-align: center;
    align-items: center;
    margin-bottom: 32px;
}

button {
    margin-top: 32px;
    padding-left: 82px;
    padding-right: 82px;
    color: white;
    border-radius: 8px;
    background-color: #3c4550;
}

input {
    padding-left: 8px;
    padding-right: 8px;
}

.card {
    margin-top: 32px;
    padding: 16px;
    margin-left: 32px;
    margin-right: 32px;
    color: rgb(54, 54, 54);
}

.title {
    text-align: center;
}

h2 {
    font-size: 25px;
}

.icon {
    text-align: center;
}

p {
    font-style: italic;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 32px;
}
