.card {
    text-align: center;
    padding: 32px;
    display: inline-block;
    transition: 0.2s;
}

.card:hover {
    transition: 0.2s;
    scale: 1.2;
    cursor: pointer;
}

.content {
    text-align: center;
}